*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center {
    margin: 0 auto;
}
/* TODO 
add navbar with 3 buttons to navigate between
each puzzle when clicked and generate the puzzle
inside the container
*/
.navbar {
    width: 100%;
    height: 100px;
    background: #385cc5;
}

.navbar ul li {
    margin: 0 -300px 0 -300px;
    padding: 0;
    width: 100px;
    height: 42px;
    border: 1px solid #66ffff;
    border-radius: 10px;
}

.navbar ul li a {
    font-size: 20px;
    color: #66ffff;
    text-decoration: none;
}

/* TODO 
Add custom color for game tile and container 
*/

#game-title{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    margin-top: 20px;
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

ul li{
    height: 150px;
    width: 30%;
    border: 1px solid black;
    margin-top: 10px;
    padding-top: 3rem;
    text-align: center;
    font-size: 2rem;
}

.empty{
    border: 2px solid blue;
}
