*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center {
    margin: 0 auto;
}
/* TODO 
add navbar with 3 buttons to navigate between
each puzzle when clicked and generate the puzzle
inside the container
*/
.navbar {
    height: 100px;
    background: #385cc5;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin: 0 3vw;
    width: 100px;
    border: 1px solid #66ffff;
    border-radius: 10px;
    overflow: hidden;
}

.navbar ul li a {
    text-align: center;
    padding: .75em 0;
    display: block;
    font-size: 20px;
    color: #66ffff;
    text-decoration: none;
    transition: 300ms ease-in-out;
    transition-property: color, background-color;
}

.navbar ul li a:hover {
    background-color: #66ffff;
    color: #385cc5;
}

/* TODO 
Add custom color for game tile and container 
*/

#game-title{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    margin-top: 20px;
    width: 40%;
    aspect-ratio: 1/1;
    border: 1px solid black;
}

@media (max-width: 768px) {
    #container {
        width: 70%;
    }
}

/* 
@media (min-width: 360px) {
    #container {
        width: 75vw;
    }
}

@media (min-width: 750px) {
    #container {
        width: 60vw;
    }
}

 */

#container ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .75em;
    margin: .5em;
}

#container ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: 1px solid black;
    aspect-ratio: 1/1;
}

.empty{
    border: 2px solid blue;
}
