*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game-title{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    margin-top: 20px;
    height: 500px;
    width: 500px;
    border: 1px solid black;
    background:#E4FDE1;
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #E4FDE1;
}

ul li{
    height: 150px;
    width: 30%;
    border: 1px solid black;
    margin-top: 10px;
    padding-top: 3rem;
    background: #456990;
    text-align: center;
    font-size: 2rem;
}

.empty{
    background: #DAD4EF;
    border: 2px solid #114B5F;
}